html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    background-color: black;
    top: 0;
    border-bottom: 1px solid seashell;
    z-index: 10;
}

header img {
    height: 50px;
    margin: 5px 10px;
    padding: 4.5px;
    vertical-align: middle;
}

nav {
    float: right;
    height: 50px;
    min-width: 25%;
    max-width: 30%;
    margin: 5px 10px;
    padding: 4.5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

nav a {
    color: seashell;
}

nav a:hover {
    color: tan;
}

.bancontainer {
    height: 700px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 70px;
}

.banner {
    background-image: url(Images/img-mission-background.webp);
    background-repeat: no-repeat;
    height: 700px;
    max-width: 1200px;
    min-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.bannertext {
    position: relative;
    margin: 275px 0;
    display: inline-block;
    width: 100%;
    z-index: 2;
    background-color: black;
    text-align: center;
}

.featured {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 150px;
}

.teacontainer {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teacontainer img {
    width: 300px;
    height: 200px;
    margin: 20px 0 0 0;
}

.teacontainer h4 {
    margin: 10px;   
}

.location {
    position: relative;
    background-image: url(Images/img-locations-background.jpg);
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    top: 250px;
    height: 600px;
    text-align: center;
}    

.location h2 {
    position: relative;
    top: 80px;
}

.locontainer {
    position: relative;
    top: 100px;
    width: fit-content;
    margin: 0 auto;
}

.losquare {
    height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block;
    margin: 15px 20px;
}

.losquare h3 {
    margin-top: 50px;
}

footer {
    height: 300px;
    position: relative;
    top: 300px;
    text-align: center;
}

.company {
    height: 200px;
}

.copyright {
    width: 15%;
    height: 100px;
    margin: 0 0 0 20px;
}