html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    background-color: black;
    top: 0;
    border-bottom: 1px solid seashell;
    z-index: 10;
}

header img {
    height: 50px;
    margin: 5px 10px;
    padding: 4.5px;
    vertical-align: middle;
}

nav {
    float: right;
    height: 50px;
    min-width: 25%;
    max-width: 30%;
    margin: 5px 10px;
    padding: 4.5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

nav a {
    color: seashell;
}

.bancontainer {
    height: 700px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 70px;
}

.banner {
    background-image: url(/Images/img-mission-background.webp);
    background-repeat: no-repeat;
    height: 700px;
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.bannertext {
    position: relative;
    margin: 275px 0;
    display: inline-block;
    width: 100%;
    z-index: 2;
    background-color: black;
    text-align: center;
}

